BODY {
  background-color:Black;
  width:100%;
  height:100%;
  overflow:hidden;
  font-family:Verdana,Arial;
}

LI {
  margin-bottom:3px;
}

DIV#container {
  width:1024px;
  height:1280px;
  position:absolute;
  top:0px;
  left:0px;
  overflow:hidden;
}

div#background {
  position:absolute;
  top:0px;
  left:0px;
  width:1024px;
  height:1280px;
  z-index:-5;
}

#background img {
display : block;
margin : auto;
z-index : -5;
position : absolute;
}

DIV#overlay {
  position:absolute;
  top:0px;
  left:0px;
  height:150px;
  width:1024px;
  background-image:url('overlay.png');
  overflow:hidden;
  background-color:black;
}

DIV#quotes {
  top:45px;
  left:10px;
  color:White;
  position:absolute;
  vertical-align:middle;
}

DIV#quotes IMG#content-logo {
  float:left;
  margin-top:10px;
  min-width:71px;
}

DIV#quotes LI {
  font-size:18px;
  font-weight:bold;
  text-shadow:2px 2px 2px black;
}

DIV#quotes LI DIV {
  height:26px;
  width:100%;
  display:block;
  overflow:hidden;
}

DIV#quotes UL {
  float:left;
  display:block;
  width:340px;
  overflow:hidden;
  list-style-type:square;
}

DIV#quotes LI SPAN {
  font-style:italic;
  font-size:17px;
  opacity:0.5;
  padding-left:5px;
  text-shadow:2px 2px 2px black;
}

INPUT, TEXTAREA {
  font-family:Verdana,arial;
  font-size:11px;
}

DIV#ticker-overlay {
	background-image:url('ticker.png');
	height:39px;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
}

MARQUEE {
	color:white;
	font-family:Lucida Grande, Verdana, sans-serif;
	font-weight:bold;
	padding:5px;
	padding-left:50px;
	padding-top:4px;
	font-size:28px;
	text-shadow:2px 2px 2px black;
	z-index:1;
	position:absolute;
	top:0px;
	left:-100%;
	width:200%;
}

div#popup {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:5;
}

#clock {
	position : absolute;
	width : 200px;
	right : 0px;
	top:32px;
	text-shadow:3px 3px 3px black;
}
 
#clock #hours {
	width : 100px;
	text-align : right;
}
 
#clock .number {
	text-shadow : #000000 3px 3px 3px 3px;
	color : white;
	padding-top : 8px;
	position : absolute;
}
 
#clock #hours .number {
	font-size : 70px;
	text-shadow : #000000 3px 3px 3px 3px;
	right : 100px;
}
 
#clock #minutes {
	position:absolute;
	width : 60px;
	left : 100px;
}
 
#clock #minutes .number {
	font-size : 45px;
}
